.vscode/
.idea/
sandbox/
tmp/

# Python artifacts
*.egg-info/
__pycache__/
*.pyc
*.pyo
.env

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/
jupyter_notebook_config.py

.DS_Store

# Rust artifacts
target/
